body {
text-align: center;
 width: 100%;
 vertical-align: none;
}
#pic{
	height: 340px;
	width:960px;
	color: white;
	margin: 0 auto 30px auto;
	line-height: 340px;
	text-align: center;
	background: url(../images/broadreach.png) no-repeat;
}
#header{
	margin: 0 auto;
	width: 960px;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: red;
	text-align: center;
}
#middle{
	margin: 0 auto;
	display: inline-block;
	width: 960px;
	height: 320px;
	overflow: hidden;
}

#left-box{
	height: 320px;
	width: 300px;
	background-color: green;
	float: left;
	margin-right: 30px;
	display: inline-block;
	/*overflow: hidden;*/
}
#middle-box{
	height: 320px;
	width: 300px;
	background-color: green;
	/*margin-right: 30px;*/
	float: left;
	display: inline-block;
/*overflow: hidden;*/
}
#right-box{
	height: 320px;
	width: 300px;
	background-color: green;
	float: right;
	display: inline-block;
	/*overflow: hidden;*/
}
#body{
	margin-left: 20px;
	display: inline-block;
}
#body-top{
	margin-bottom: 20px;
	width: 740px;
	height: 320px;
	line-height: 320px;
	color: white;
	background-color: green;
	text-align: center;

}
#body-bottom{
	width: 740px;
	height: 320px;
	line-height: 320px;
	color: white;
	background-color: green;
	text-align: center;
}
#footer{
	margin: 20px auto;
	width: 960px;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: blue;
	text-align: center;
}